/* ** IMPORT ** */

@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap%22");

/* ** TOUT LE SITE ** */

* {
  scroll-behavior: smooth;
  font-family: "Advent Pro", sans-serif;
  width: 100%;
}

body {
  margin: 0;
}
/* ** HEADER ** */
.en-tete {
  background-color: #264653;
  display: flex;
}

.avatar-lucile {
  width: 20%;
  height: auto;
  border-radius: 75px;
  margin-top: 20px;
  margin-left: 44px;
}

#icons {
  margin-top: 30px;
  width: 30%;
  height: auto;
  display: flex;
}

#icons a {
  /*mettre les icons à la même ligne*/
  display: inline-block;

  font-size: 3em;
  color: #fffae1;
}

#icons a:hover {
  /*agrandir au passage de la souris*/
  cursor: pointer;
  font-size: 4em;
  transition: 0.3s ease-in-out;
  transform: scale(1.15);
}

/* ** PRESENTATION ** */

.partiePresentation {
  display: flex;
  flex-direction: row;
  background-color: #264653;
  border-radius: 0px 0px 200px 200px;
  margin-top: none;
  height: 50%;
}

.presentation {
  margin-left: 5%;
  width: 30%;
}

.presentation h1 {
  color: #f4a261;
}

.presentation p {
  color: #e9e5e3;
}

.cv {
  border-radius: 10px;
  background-color: #f4a261;
  border: none;
  width: 150px;
  color: #264653;
  padding: 10px;
  cursor: pointer;
}

.contact:hover {
  background-color: #e76f51;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  transform: scale(1.15);
}

.premierTrait {
  height: 2px;
  width: 10%;
  background-color: #f4a261;
}

.mockup {
  width: 30%;
  justify-content: right;
  margin-right: 40%;
}
.mockup a {
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 800px;
  width: 800px;
}

/** FORMATIONS **/
.partieFormations {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.secondTrait {
  margin-left: auto;
  height: 2px;
  width: 10%;
  background-color: #eac3a9;
}

.formations {
  margin-top: 50px;
  color: #264653;
  gap: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.formations p {
  float: right;
  text-align: right;
}

.liste {
  margin-top: -40px;
  justify-content: left;
  margin-left: -80px;
  padding-left: 0px;
}

.listeFormations {
  width: 70%;
}

.listeFormations li {
  list-style-type: none;
  width: auto;
}

#date {
  background-color: #2a9d8f;
  border: none;
  border-radius: 10px;
  margin: 10px 0 0 20px;
  padding: 30px 30px 30px 40px;
  color: #e9e5e3;
  cursor: pointer;
  overflow: hidden;
  transition: all 450ms;
  animation-duration: 5s;
  text-align: left;
  font-family: "advent pro", sans-serif;
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.473);
}

#formation {
  visibility: hidden;
  font-weight: 200;
  justify-content: right;
  text-align: right;
}

#date:active #formation {
  visibility: visible;
}
/* ** POP-UP ** */

.pop-up {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  height: 350px;
  width: 620px;
  text-align: center;
  background-color: #e76f51;
  border-radius: 76% 24% 90% 10% / 20% 85% 15% 80%;
  box-shadow: 0 5px 10px black;
  opacity: 0;
  transform: translateX(400px);
  transition: 1s ease-out;
}

.pop-up-contact {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.pop-up-contact h3 {
  color: #264653;
  margin: 1rem;
  font-size: 1.5rem;
}

.button-contact #nom {
  width: 35%;
}

.button-contact #prenom {
  width: 35%;
}

.button-contact #email {
  width: 75%;
}

.button-contact #message {
  width: 75%;
  height: 100px;
}

.button-contact input {
  border: 1px solid #e75651;
  padding: 10px;
  margin: 2px;
  border-radius: 15px;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.425);
  outline: none;
  font-size: 1rem;
  transition: 0.5s;
}

.button-contact button {
  margin-top: 5px;
  text-align: center;
  color: #e9e5e3;
  border-radius: 15px;
  font-size: 1.2rem;
  border: 1px solid #e75651;
  outline: none;
  cursor: pointer;
  background: #e75651;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.425);
  transition: 0.3s;
  width: 30%;
  height: 40px;
}

.fa-times-circle {
  position: absolute;
  left: 17rem;
  top: 0.1rem;
  font-size: 2rem;
  color: #e75651;
  cursor: pointer;
  transition: 0.3s;
}
.fa-times-circle:hover {
  color: #e9c46a;
  transform: translateX(-1px);
}
.fa-times-circle:active {
  transform: scale(1.5);
}

/* ** EXPERIENCES PROFESSIONNELLES ** */

.partieExperiences {
  background-color: #264653;
  border-radius: 200px;
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  padding-bottom: 30px;
}

#experiences {
  padding-top: 5%;
}

.listeExperiences li {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: auto;
}

#experiences li {
  background-color: #e9c46a;
  color: #264653;
  font-weight: 600;
  border-radius: 10px;
  height: 50px;
  padding-top: 25px;
  margin: 0 5% 5% 5%;
  width: 80%;
}

#experiences li:hover {
  background-color: #e76f51;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
}

#detail1,
#detail2,
#detail3,
#detail4 {
  color: #e9e5e3;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 50px;
}

#detail1,
#detail2,
#detail3,
#detail4 {
  display: none;
}

/* ** TECHNOLOGIES ** */

.technologies {
  margin-top: 80px;
}

.technologies h2 {
  text-align: center;
  color: #264653;
}
.troisiemeTrait {
  height: 2px;
  width: 10%;
  background-color: #eac3a9;
  justify-content: center;
  margin: auto;
}
.liste-technologies {
  margin: none;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 1%;
}

.technologies img {
  margin-top: 10%;
  width: 50%;
  height: auto;
  margin-left: 0%;
  margin-right: 0%;
}

.css img {
  margin-right: 2%;
  margin-left: 5%;
}

.html img {
  margin-right: 2%;
}

.js img {
  margin-right: 0%;
}

.technologies #js {
  width: 80%;
  height: auto;
}

.technologies #php {
  width: 90%;
  height: auto;
}

/* * HOBBIES * */

#dessinHobbies {
  width: 80%;
  height: auto;
}

/* * CONTACT * */

.contact {
  position: relative;
  justify-content: center;
  margin-left: 20%;
  height: 550px;
  width: 60%;
  text-align: center;
  background-color: #e76f51;
  border-radius: 76% 24% 90% 10% / 20% 85% 15% 80%;
  box-shadow: 0 5px 10px black;
}

.form-contact {
  width: 100%;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.form-contact h3 {
  color: #264653;
  margin: 1rem;
  font-size: 1.5rem;
}

.form-button #nom {
  width: 35%;
}

.form-button #prenom {
  width: 35%;
}

.form-button #email {
  width: 75%;
}

.form-button #message {
  width: 75%;
  height: 200px;
}

.form-button input {
  border: 1px solid #e75651;
  padding: 10px;
  margin: 2px;
  border-radius: 15px;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.425);
  outline: none;
  font-size: 1rem;
  transition: 0.5s;
}

.form-button button {
  margin-top: 5px;
  text-align: center;
  color: #e9e5e3;
  border-radius: 15px;
  font-size: 1.2rem;
  border: 1px solid #e75651;
  outline: none;
  cursor: pointer;
  background: #e75651;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.425);
  transition: 0.3s;
  width: 30%;
  height: 40px;
}

/* ** FOOTER ** */

.footer {
  margin-top: 80px;
  background-color: #264653;
  height: 50px;
  border-radius: 200px 200px 0px 0px;
  margin: none;
}

.copyright {
  color: #e9e5e3;
  justify-content: center;
  text-align: center;
}

/* ** RESPONSIVE ** */

@media screen and (max-width: 460px) {
  /* ** HEADER ** */
  .en-tete {
    width: 100%;
  }

  .avatar-lucile {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: auto;
  }

  #icons {
    margin-top: 5%;
    width: 15%;
    height: auto;
    display: grid;
  }

  /* ** PRESENTATION ** */

  .partiePresentation {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    background-color: #264653;
    border-radius: 0px 0px 100px 100px;
    margin: none;
  }

  .premierTrait {
    width: 50%;
  }

  .presentation {
    width: 90%;
    margin-left: 5%;
  }

  .presentation h1 {
    color: #f4a261;
  }

  .presentation p {
    color: #e9e5e3;
  }

  img {
    height: 250px;
    width: 250px;
    margin-left: 50%;
  }

  /** FORMATIONS **/
  .partieFormations {
    width: 160%;
    margin-top: 20%;
    display: inline-block;
  }

  .formations {
    width: 50%;
    margin-top: 5%;
    color: #264653;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .secondTrait {
    margin-top: 5%;
    width: 50%;
    margin-right: 10%;
  }

  .formations h2 {
    width: 130%;
  }

  .formations p {
    text-align: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 10%;
  }

  .liste {
    width: 60%;
    margin: none;
    justify-content: center;
  }

  /* ** POP-UP ** */

  .pop-up {
    visibility: hidden;
  }

  /* ** EXPERIENCES PROFESSIONNELLES ** */

  .partieExperiences {
    background-color: #264653;
    border-radius: 100px;
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 2%;
  }

  .experiences {
    padding-top: none;
    width: 100%;
  }

  #experience {
    padding-top: 20px;
    width: 90%;
  }

  #detail {
    margin-top: 5%;
    width: 90%;
  }

  .listeExperiences {
    padding: 5%;
  }

  #detail1,
  #detail2,
  #detail3,
  #detail4 {
    color: #e9e5e3;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    margin-left: 7%;
    margin-right: 5%;
    width: 75%;
    margin-bottom: 5%;
  }

  /* ** TECHNOLOGIES ** */

  .technologies {
    margin-top: 10%;
  }

  .technologies h2 {
    text-align: center;
    color: #264653;
  }
  .troisiemeTrait {
    width: 50%;
  }

  .liste-technologies li {
    margin: none;
  }

  .liste-technologies {
    margin-top: 10%;
    list-style: none;
    display: flex;
    padding-left: 0%;
  }

  .technologies img {
    width: 50%;
    height: auto;
    margin-left: 10%;
  }

  /* * HOBBIES * */

  #dessinHobbies {
    width: 100%;
    height: auto;
    margin-left: 0%;
  }

  /* * CONTACT * */
  .contact {
    visibility: hidden;
  }

  /* ** FOOTER ** */

  .footer {
    margin-top: 20%;
    background-color: #264653;
    height: 50px;
    border-radius: 200px 200px 0px 0px;
    margin: none;
  }

  .copyright {
    color: #e9e5e3;
    justify-content: center;
    text-align: center;
  }
}

/* ** ANIMATIONS ** */

@keyframes taille {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
